################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FlowGuardian.NET/.vs/FlowGuardian.NET/FileContentIndex/01b09c6a-d404-4f19-a195-04ded2c6061c.vsidx
/FlowGuardian.NET/.vs/FlowGuardian.NET/FileContentIndex/04dbd938-255a-47d2-b562-4c19d3214749.vsidx
/FlowGuardian.NET/.vs/FlowGuardian.NET/FileContentIndex/476a74ff-42b3-44a1-8142-c759320c6a92.vsidx
/FlowGuardian.NET/.vs/FlowGuardian.NET/FileContentIndex/cc589e62-2390-47ee-ae60-cb26d7d39244.vsidx
